@charset "UTF-8";

section {
	width:100%;
}

form {
	width:500px;
	height:330px;
	margin:90px auto 90px auto;
	border:lightgray 1px solid;
	padding:40px;
}

#loginbtn {
	background-color:#003399;
	color:#FFD609;
}