@charset "UTF-8";

section {
	padding:70px 10%;
	text-align:center;
}

h4 {
	margin: 10px 0 20px 0;
}

.bdiv {
	display:flex;
	flex-wrap:wrap;
	margin-bottom: 50px;
}

#card {
	width:23%;
	margin:35px auto;
}

#card img {
	width:95%;
	height:270px;
	margin:10px auto;
}

@media all and (max-width:580px) {
	#card {
		width:100%;
		margin:10px auto;
	}
}

@media all and (min-width:580px) and (max-width:1160px) {
	#card {
		width:45%;
		margin:10px auto;
	}
}

@media all and (min-width:1160px) and (max-width:1710px) {
	#card {
		width:30%;
		margin:10px auto;
	}
}